<div class="bg-background-image min-h-screen flex flex-col justify-center">
  <%= link_to 'Back', request.referer || root_path, class: "text-gold font-black hover:text-gold_shade2" %>
  <div class="overflow-x-auto flex flex-row items-center justify-evenly pt-5">
    <table class="table-fixed w-full text-sm text-left text-black mx-5">
      <thead class="text-xs bg-gold_shade2 items-center">
        <tr>
          <th class="md:px-6 px-2 py-3">Player<br>
            Rank</th>
          <th class="md:px-6 px-2 py-3">Player<br>
            Name</th>
          <th class="hidden md:table-cell md:px-6 px-2 py-3">Matches<br>
            Played</th>
          <th class="md:px-6 px-2 py-3">Tournaments<br>
            Played</th>
          <th class="md:px-6 px-2 py-3">Matches<br>
            Won</th>
          <th class="md:px-6 px-2 py-3">Tournaments<br>
            Won</th>
        </tr>
      </thead>
      <tbody class="bg-gold text-lg">
        <% @players.each.with_index(1) do |player, index| %>
          <tr>
            <td class="md:px-6 px-2 py-3"><%= index %></td>
            <td class="md:px-6 px-2 py-3"><%= player.name %></td>
            <td class="hidden md:table-cell md:px-6 px-2 py-3"><%= player.total_matches_played %></td>
            <td class="md:px-6 px-2 py-3"><%= player.total_tournaments_played %></td>
            <td class="md:px-6 px-2 py-3"><%= player.total_matches_won %></td>
            <td class="md:px-6 px-2 py-3"><%= player.total_tournaments_won %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
