<% if Time.now.utc.after?(tournament.registration_deadline) %>
  <div class="p-5 mt-5 h-40 bg-gold rounded-xl flex flex-col items-center justify-center">
    <div class="flex flex-row items-center text-2xl">
      Registration Closed
    </div>
  </div>
<% else %>
  <div class="container-fluid mt-5 flex row justify-center" data-controller="countdown" data-countdown-id="<%= tournament.id %>" data-countdown-time="<%= (Time.current.utc - tournament.registration_deadline.utc).to_json.html_safe %>">
    <div class="days-container text-black">
      <div class="days" data-countdown-id="<%= tournament.id %>"></div>
      <div class="days-label">d</div>
    </div>
    <div class="hours-container ml-2 text-black">
      <div class="hours" data-countdown-id="<%= tournament.id %>"></div>
      <div class="hours-label">h</div>
    </div>
    <div class="minutes-container ml-2 text-black">
      <div class="minutes" data-countdown-id="<%= tournament.id %>"></div>
      <div class="minutes-label">m</div>
    </div>
    <div class="seconds-container ml-2 text-black">
      <div class="seconds" data-countdown-id="<%= tournament.id %>"></div>
      <div class="seconds-label">s</div>
    </div>
  </div>
<% end %>
