<% if tournament.registration_deadline.before?(Time.now.utc + (5*3600))%>
  <div class=" mt-5 h-40 bg-gold rounded-xl w-full justify-center ">
    <h2 class= "text-centered">
      Registration Closed
    </h2>
  </div>
  <% else %>
  <div class="container-fluid  mt-5 flex row justify-center", data-controller="countdown", data-countdown-id = <%= tournament.id %>, data-countdown-time=<%= tournament.registration_deadline.to_json.html_safe %>>
    <div class="days-container">
      <div class="days", data-countdown-id = <%= tournament.id %>></div>
      <div class="days-label">d</div>
    </div>
  
    <div class="hours-container ml-2">
      <div class="hours", data-countdown-id = <%= tournament.id %>></div>
      <div class="hours-label">h</div>
    </div>
  
    <div class="minutes-container ml-2">
      <div class="minutes", data-countdown-id = <%= tournament.id %>></div>
      <div class="minutes-label">m</div>
    </div>
  
    <div class="seconds-container ml-2">
      <div class="seconds", data-countdown-id = <%= tournament.id %>></div>
      <div class="seconds-label">s</div>
    </div>
  </div>
<% end %>