<!-- <div class = "w-fill"> -->
  <p class="pt-5">
    <strong class="block font-medium text-white">Name</strong>
    <div class = "block shadow rounded-md border border-gold outline-none px-3 py-2 mt-2   bg-white text-black">
    <%= tournament.name %>
    </div>
  </p>
  <% if action_name != "index" %>
  <%= render 'description', tournament: tournament %>
  <% end %>

  <p class="pt-5">
    <strong class="block font-medium text-white">Start date</strong>
    <div class = "block shadow rounded-md border border-gold outline-none px-3 py-2 mt-2  bg-white text-black">
    <%= tournament.start_date %>
  </div>
  </p>

  <p class="pt-5">
    <strong class="block font-medium text-white">End date</strong>
    <div class = "block shadow rounded-md border border-gold outline-none px-3 py-2 mt-2  bg-white text-black">
    <%= tournament.end_date %>
  </div>
  </p>

  <% if action_name != "show" %>
  <div class = " my-5 flex flex-row items-center justify-center px-3">
    <%= link_to "Show", tournament, class: "actions mb-4 mr-3  px-10 py-3 btn-brown " %>
    <%= link_to 'Edit', edit_tournament_path(tournament), class: "actions mb-4 px-10 py-3 btn-brown " %>
  </div>
    <!-- <hr class="mt-6"> -->
  <% end %>
<!-- </div> -->
