<div class="bg-background-image min-h-screen flex flex-col justify-between">
  <div class="py-20 flex flex-row items-center justify-evenly ">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-white mb-5 text-black font-medium rounded-lg inline-block" id="notice">
        <%= notice %>
      </p>
    <% end %>

  <div class="relative overflow-x-auto shadow-md sm:rounded-lg"></div>
    <table class="w-full text-sm text-left text-black mx-5">
      <thead class="text-lg bg-gold_shade2 items-center">
        <tr>
          <th class = "px-6 py-3">No</th>
          <th>Name</th>
          <th>Registration Deadline</th>
          <th>View</th>
        </tr>
      </thead>
      <tbody class="bg-gold text-lg">
        <% adjusted_index = @tournaments.current_page * 3 - 2 %>
        <% @tournaments.each_with_index do |tournament, index| %>
          <tr>
            <td class = "px-6 py-3" ><%= adjusted_index%></td>
            <td class = ""><%= tournament.name %></td>
            <td><%= tournament.registration_deadline.strftime("%B %d, %Y %I:%M %p")%></td>
            <td>
              <%= link_to "Show", tournament, class: "mb-4 px-3 py-2 btn-brown" %>
            </td>
          </tr>
          <% adjusted_index = adjusted_index + 1%>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class = "pb-20 flex flex-row items-center justify-center">
    <div class=" bg-gold rounded py-3 px-5 mx-5 flex flex-row justify-between">
      <div class="btn-group">
        <%= paginate @tournaments, window: 1,outer_window: 2 %>
      </div>
    </div>
  </div>
</div>
