<div class="bg-background-image min-h-screen flex flex-wrap items-center justify-center">
  <div class="container flex-1 flex flex-col items-center justify-center px-6">
    <div class="bg-white bg-opacity-20 backdrop-blur-lg rounded drop-shadow-lg px-10 py-8  ">
      <h1 class="mb-8 text-3xl text-center text-white">Tournament</h1>
      <div class=" text-white">
        <div class="">
          <div class="flex items-center justify-center">
            <% if notice.present? %>
              <p class="py-2 px-3  bg-gold mb-5 text-black font-medium rounded-lg  flex flex-wrap items-center justify-center "
                id="notice">
                <%= notice %>
              </p>
              <% end %>
          </div>

          <%= render @tournament %>
            <div class="flex flex-row items-center justify-center py-3">
              <% if @tournament.start_date.after?(Time.now.utc + (5*3600))%>
                <%= link_to 'Edit' , edit_tournament_path(@tournament), class: "mb-4 px-10 py-3 btn-brown " %>
                  <% end %>
                    <% if @tournament.start_date.after?(Time.now.utc + (5*3600))%>
                      <div class="inline-block mx-2">
                        <%= button_to 'Delete' , tournament_path(@tournament), method: :delete, class: "actions mb-4 px-10 py-3 btn-brown" , data: {confirm: "Are you sure?" } %>
                      </div>
                    <%end%>
                  <% if @tournament.registration_deadline.before?(Time.now.utc + (5*3600))%>
                    <% if @tournament.matches.size==0 %>
                      <%= link_to 'Generate Matches' , create_matches_path(tournament_id: @tournament.id), method: :post, class: "mb-4 px-10 py-3 btn-brown " %>
                    <% else %>
                      <%= link_to 'View Matches' , matches_path(tournament_id: @tournament.id), method: :get, class: "mb-4 px-10 py-3 btn-brown " %>
                    <% end %>
                  <% end %>
            </div>

            <!-- <%= link_to 'Back to tournaments', tournaments_path, class: "actions mb-4 px-10 py-3 btn-brown" %> -->
        </div>
      </div>
    </div>
  </div>
</div>