<% if match.match_time.before?(Time.now)%>
<% else %>
  <div id="days" class="container-fluid  mt-5 flex row justify-center", data-controller="countdown", data-countdown-id = <%= match.id %>, data-countdown-time=<%= (Time.current - match.match_time).to_json.html_safe %>>
    <div class="days-container">
      <div class="days", data-countdown-id = <%= match.id %>></div>
      <div class="days-label">d</div>
    </div>
    <div id = "hours" class="hours-container ml-2">
      <div class="hours", data-countdown-id = <%= match.id %>></div>
      <div class="hours-label">h</div>
    </div>
    <div id = "minutes" class="minutes-container ml-2">
      <div class="minutes", data-countdown-id = <%= match.id %>></div>
      <div class="minutes-label">m</div>
    </div>
    <div id = "seconds" class="seconds-container ml-2">
      <div class="seconds", data-countdown-id = <%= match.id %>></div>
      <div class="seconds-label">s</div>
    </div>
  </div>
<% end %>
