<div id="<%= dom_id match %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Match winner:</strong>
    <%= match.match_winner_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Winner score:</strong>
    <%= match.winner_score %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Match time:</strong>
    <%= match.match_time %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Tournament:</strong>
    <%= match.tournament_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this match", match, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this match', edit_match_path(match), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
