<div id = "match_id", data-match-id = <%= @match.id %>> </div>
<div class = "flex px-5 flex-col">
<div class = "flex-col overflow-y-auto overflow-x-hidden ">
<div id="message-list" class = "">
	<% @match.messages.all.reverse.each do |message| %>
   <div class = "flex flex-row">
   <div class = "rounded-full bg-gold_shade2 w-7 text-white text-center h-7">
      <%= User.find(message.user_id).name[0,3] %>
   </div>
   <div class ="flex flex-col space-y-2 text-xs  ml-2  items-start">
      <div class = "flex flex-row items-end">
         <div class = "text-white"> <%= (message.created_at + 5.hours).strftime('%H:%M:%S') %></div>
       </div>
	   <div class=" max-w-sm text-lg px-3 py-2 my-1 rounded-lg rounded-br-none rounded-tl-none bg-gold text-black">
         <%= message.message %></div>
   </div>
</div>
	<% end %>
</div>
</div>

</div>

<div id="match-channel" data-match-id="<%= @match.id %>">

</div>
