<div class="bg-background-image min-h-screen flex flex-col">
  <%= link_to "Back", request.referer || root_path, class: "text-gold font-black hover:text-gold_shade2" %>
  <div class="pl-2 pt-10 flex flex-row pr-2 sm:pr-24">
    <div class="overflow-x-auto w-full">
      <table class="w-full text-sm text-left text-black">
        <thead class="text-lg bg-gold_shade2 items-center">
          <tr>
            <th class="hidden md:table-cell">No</th>
            <th class="hidden md:table-cell">Date</th>
            <th>player1</th>
            <th>player2</th>
            <th class="hidden md:table-cell">Round no</th>
            <th>Winner</th>
            <th>View</th>
          </tr>
        </thead>
        <tbody class="bg-gold text-lg">
          <% index = @matches.offset_value + 1 %>
          <% @matches.each.with_index(index) do |match, index| %>
            <tr>
              <td class="hidden md:table-cell px-6 py-3"><%= index %></td>
              <td class="hidden md:table-cell"><%= match.time.strftime("%B %d, %Y %I:%M %p") %></td>
              <td class="px-6 py-3"><%= match.users.first.name %></td>
              <td class="px-6 py-3"><%= match.users.last.name %></td>
              <td class="hidden md:table-cell px-6 py-3"><%= match.round %></td>
              <td class="px-6 py-3"><%= match.winner&.name || "--" %></td>
              <td>
                <%= link_to "show", tournament_match_url(tournament_id: match.tournament_id, id: match.id), method: :get, class: "mb-4 px-3 py-2 btn-brown" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="pt-10 flex flex-row justify-center">
    <div class="bg-gold rounded py-3 px-5 mx-5 flex flex-row justify-between">
      <%= paginate @matches, window: 1, outer_window: 2 %>
    </div>
  </div>
</div>
