<div id = "match_id", data-match-id = <%= @match.id %>> </div>
<div id = "user_id", data-user-id = <%= current_user.id %>> </div>
<% if @remaining_tries > 0 %>
<div class="bg-background-image flex flex-col min-h-screen">

    <div class="py-10 flex flex-row items-center justify-evenly">
        <% if notice.present? %>
            <p class="py-2 px-3 bg-gold mb-5 text-black font-medium rounded-lg inline-block" id="notice">
                <%= notice %>
            </p>
        <% end %>
    </div>
    <div class = "text-white">
        <%= @current_user_scores %>
    </div>
    <div class = "text-white">
        <%= @opponent_user_scores %>
    </div>
    <!-- @match.users.length check if match b/w 3 or 2 players  -->
    <% current_user_index = @players.index(current_user.id) %>
    <% if current_user_index == 0 %>
        <% opponent_user_index = 1 %>
    <% else %>
        <% opponent_user_index = 0 %>
    <% end %>
    <div class = "flex flex-col">
    <div class = "flex-grow">
    <div class = "flex flex-col justify-center">
        <div class = "bg-gold text-black text-xl mx-40 py-3 px-3 rounded-lg flex flex-row justify-center">
            <%= "Remaining Tries : #{@remaining_tries}" %>
        </div>
        <div class = "flex flex-row justify-center mt-5">
            <%= render 'random_images',image_id: 1, user_id: @players[current_user_index]%>
            <%= render 'choice_timer', match: @match, remaining_seconds: @end_time %>
            <%= render 'random_images', image_id: 2, user_id: 'x'%>
        </div>
    </div>
    <footer class = "mt-5 bg-white bg-opacity-20 backdrop-blur-lg rounded drop-shadow-lg mb-4 py-5 max-w-1/2">
        <div class="text-white text-xl flex flex-row justify-center ">Please select</div>
        <div class = "flex flex-row justify-center">
            <button id = "rock_button" class="choice-button"
                style="background-image: url('/assets/rock.png');  background-size: contain; background-repeat: no-repeat; background-position: center;">
                <span class="h-6 w-6 mr-2" role="img" aria-label="Image"></span>
            </button>
            <button id = "paper_button" class="choice-button"
                style="background-image: url('/assets/paper.png');  background-size: contain; background-repeat: no-repeat; background-position: center;">
                <span class="h-6 w-6 mr-2" role="img" aria-label="Image"></span>
            </button>
            <button id = "scissor_button" class="choice-button"
                style="background-image: url('/assets/scissor.png');  background-size: contain; background-repeat: no-repeat; background-position: center;">
                <span class="h-6 w-6 mr-2" role="img" aria-label="Image"></span>
            </button>
        </div> 
    </footer>
    </div>
<div>
	<%= render partial: "matches/match_message", locals: { messages: @messages,
	match: @match } %>
</div>
</div>

</div>

<% else %>
    <div>
        Matched Ended
    </div>
    
    
    <div>
        <%= @current_user_selections.length %>
    </div>
    <div>
        remaining_tries
        <%= @remaining_tries %>

    </div>
<% end %>
