<div class="bg-background-image min-h-screen flex flex-col items-center">
  <% if @is_player %>
    <% player1 = current_user %>
  <% else %>
    <% player1 = @players.first %>
  <% end %>
  <% player2 = @match.other_user(player1) %>
  <% i = 0 %>
  <div class="mt-10 flex flex-row justify-between w-full bg-white bg-opacity-20 backdrop-blur-lg rounded drop-shadow-lg px-10 py-8">
    <div class="container-fluid mt-5 rounded-lg py-3 px-10 bg-gold">
      <%= player1.name %><br>
      scores
      <div class="justify-center text-4xl font-bold">
        <%= @player1_scores %>
        <div class="flex row justify-center text-4xl font-bold">
          <%= @players_scores[player1.id] || 0 %>
        </div>
        </div>
      </div>
      <div class="flex flex-col">
        <h1 class="container-fluid mb-8 text-6xl text-center text-white">
          <%= @result_message %>
        </h1>
      </div>
        <div class="container-fluid mt-5 py-3 rounded-lg px-10 bg-gold">
          <%= player2.name %><br>
          scores
          <div class="flex row justify-center text-4xl font-bold">
            <%= @players_scores[player2.id] || 0 %>
          </div>
        </div>
    </div>
      <% player1_selections = @players_selections[player1.id] %>
      <% player2_selections = @players_selections[player2.id] %>      
      <% player1_selections.each do |player1_selection| %>
        <% player1_choice = player1_selection.selection + ".png" %>
        <% opponent_user_choice = player2_selections[i].selection + ".png" %>
        <% status = player1_selection.status || player2_selections[i].status %>
        <% status = !status ? "Draw" : status %>
        <div class="flex flex-row justify-center">
          <%= image_tag(player1_choice, width: "100", class:"m-5 mt-5 p-2 rounded-lg bg-gold") %>
          <div class="m-5 mt-5 p-2 flex flex-col justify-center rounded-lg bg-gold text-xl <%= status == 'Draw' ? '' : 'text-black' %>">
            <%= status %>
          </div>
          <%= image_tag(opponent_user_choice, width: "100", class: "m-5 mt-5 p-2 rounded-lg bg-gold") %>
        </div>
        <% i += 1 %>
      <% end %>
      <%= link_to 'Back', request.referer || root_path, class: "text-gold font-black hover:text-gold_shade2" %>
    </div>