<div id="match_id" data-match-id="<%= @match.id %>"></div>
<div class="bg-background-image min-h-screen flex flex-col">
  <% if @match.undone? %>
    <div class="mt-10 flex justify-center">
      <div class="max-w-sm p-6 bg-gold rounded-lg">
        <h5 class="mb-2 text-2xl font-bold tracking-tight">Winner Not Decided Yet</h5>
        <p class="mb-3 font-normal">Please wait<br>
          or go to</p>
        <%= link_to "Live Match", playmatch_tournament_match_path(id: @match, tournament_id: @tournament), method: :get, class: "text-white hover:text-black" %>
      </div>
    </div>
  <% else %>
    <% player1_id, player2_id = players(@players_data) %>
    <div class="mt-10 flex flex-row mini:justify-around justify-between w-full bg-white bg-opacity-20 backdrop-blur-lg rounded drop-shadow-lg px-8 mini:px-4 sm:px-5 py-8">
      <div class="container-fluid mt-5 py-3 px-4 sm:px-4 lg:px-10 rounded-lg bg-gold">
        <%= @players_data[player1_id] %><br>
        scores
        <div class="flex row justify-center text-4xl font-bold">
          <%= @players_scores[player1_id] || 0 %>
        </div>
      </div>
      <div class="flex flex-col justify-center">
        <h1 class="container-fluid text-2xl mini:text-base sm:text-4xl md:text-6xl lg:text-8xl text-center text-white">
          <%= @result_message %>
        </h1>
      </div>
      <div class="container-fluid mt-5 py-3 px-4 sm:px-4 lg:px-10 rounded-lg bg-gold">
        <%= @players_data[player2_id] %><br>
        scores
        <div class="flex row justify-center text-4xl font-bold">
          <%= @players_scores[player2_id] || 0 %>
        </div>
      </div>
    </div>
    <% player1_selections = @players_selections[player1_id] %>
    <% player2_selections = @players_selections[player2_id] %>
    <% i = 0 %>
    <% player1_selections.each do |player1_selection| %>
      <% player1_choice = player1_selection.choice + ".png" %>
      <% opponent_user_choice = player2_selections[i].choice + ".png" %>
      <% status = player1_selection.status || player2_selections[i].status || "Draw Try" %>
      <div class="mx-3 flex fex-row justify-center">
        <div class="mt-5 pr-2">
          <%= image_tag(player1_choice, width: "100", class: "rounded-lg bg-gold p-1") %>
        </div>
        <div class="flex flex-col justify-center text-2xl text-justify rounded-lg bg-gold mt-5 p-2">
          <div class="flex flex-row justify-center">
            <%= status %>
          </div>
        </div>
        <div class="mt-5 pl-2">
          <%= image_tag(opponent_user_choice, width: "100", class: "rounded-lg bg-gold p-1") %>
        </div>
      </div>
      <% i += 1 %>
    <% end %>
  <% end %>
  <%= link_to "Back", request.referer || root_path, class: "text-gold font-black hover:text-gold_shade2" %>
</div>
