<div class="bg-background-image min-h-screen flex flex-col justify-between">
  <div class="container flex-1 flex flex-col items-center justify-center px-6">
    <div class="bg-white bg-opacity-20 backdrop-blur-lg rounded drop-shadow-lg px-10 py-8">
      <h1 class="mb-8 text-6xl text-center text-white">Match</h1>
      <div class="text-4xl text-white mr-5 flex flex-row items-center justify-center">
        <% @match.users.each_with_index do |player, i| %>
          <div class="ml-3 text-gold">
            <%= player.name.capitalize %>
          </div>
          <div class="ml-3 text-white">
            vs
          </div>
        <% end %>
      </div>
      <%= render 'match_timer', match: @match %>
      <p class="pt-5">
        <strong class="block font-medium text-white">Match Time</strong>
        <div class="block shadow rounded-md border border-gold outline-none px-3 py-2 mt-2 bg-white text-black">
          <%= @match.match_time.strftime("%B %d, %Y %I:%M %p") %>
        </div>
      </p>
      <% players = @match.users.pluck(:id) %>
      <div class="my-5 flex flex-row items-center justify-center px-3">
        <%= link_to "view", playmatch_tournament_match_path(match_id: @match.id), class: "px-7 py-2 btn-brown" %>
      </div>
      <%= link_to 'Back', request.referer || root_path, class: "text-gold font-black hover:text-gold_shade2" %>
    </div>
  </div>
</div>
