<nav class="flex items-center justify-between flex-wrap bg-gold p-5 m-2 ">
  <a href="/tournaments"
          class=" btn-brown px-3 py-2 text-lg font-normal">Tournaments</a>
  <a href="#"
          class=" btn-brown px-3 py-2 text-lg font-normal">Matches</a>
  <a href="#"
          class=" btn-brown px-3 py-2 text-lg font-normal">LeaderBoard</a>
  <% if user_signed_in? %>
    <%= link_to 'Edit profile' , edit_user_registration_path, :class=> 'btn-brown px-3 py-2 text-lg font-normal ' %>
    <%= link_to "Logout" , destroy_user_session_path, method: :delete, :class=> 'btn-brown px-3 py-2 text-lg font-normal' %>
    <strong class="float-right inline-block px-3 text-lg">
      Logged in as : 
      <%= current_user.email.split('@').first %>
    </strong>
  <% else %>
    <%= link_to "Sign up" , new_user_registration_path, :class=> 'btn-brown px-3 py-2 text-lg font-normal' %>
    <%= link_to "Login" , new_user_session_path, :class=> 'btn-brown px-3 py-2 text-lg font-normal' %>
  <% end %>
</nav>
